extends layout

block body
    div(id='vk_api_transport')

    div
        div(ng-view)#page

        div.footer
            div.content
                div.author 2013 
                    a(href='http://0x80.ru') @aluminiumgeek
                div.icons
                    i.icon-html5.icon-2x
                    i.icon-css3.icon-2x
                    
                    a(href='#')
                        i.icon-github-alt.icon-2x
